In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
test_data =pd.read_csv('/kaggle/input/titanic/test.csv')
print(train_data.head())
print(test_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [3]:
train_data=train_data.drop("PassengerId",axis=1)
train_data=train_data.drop("Name",axis=1)
train_data=train_data.drop("Ticket",axis=1)
train_data=train_data.drop("Cabin",axis=1)
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
test_data=test_data.drop("Name",axis=1)
test_data=test_data.drop("Ticket",axis=1)
test_data=test_data.drop("Cabin",axis=1)
test_data.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [5]:
data=[train_data,test_data]
for x in data:
    mean=train_data["Age"].mean()
    std=test_data["Age"].std()
    null=x["Age"].isnull().sum()
    randage=np.random.randint(mean-std,mean+std,size=null)
    ageslice=x["Age"].copy()
    ageslice[np.isnan(ageslice)]=randage
    x["Age"]=ageslice
    x["Age"]=train_data["Age"].astype(int)
train_data["Age"].isnull().sum()

0

In [6]:
train_data["Embarked"]=train_data["Embarked"].fillna('S')

In [7]:
test_data=test_data.fillna(test_data['Fare'].mean())

In [8]:
train_data.info()
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    int64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 55.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    int64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 26.2+ KB

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
train_data["Sex"]=le.fit_transform(train_data["Sex"])
print(train_data["Sex"])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [10]:
test_data["Sex"]=le.fit_transform(test_data["Sex"])
print(test_data["Sex"])

0      1
1      0
2      1
3      1
4      0
      ..
413    1
414    0
415    1
416    1
417    1
Name: Sex, Length: 418, dtype: int64

In [11]:
train_data["Embarked"]=le.fit_transform(train_data["Embarked"])
print(train_data["Embarked"])

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int64

In [12]:
test_data["Embarked"]=le.fit_transform(test_data["Embarked"])
print(test_data["Embarked"])

0      1
1      2
2      1
3      2
4      2
      ..
413    2
414    0
415    2
416    2
417    0
Name: Embarked, Length: 418, dtype: int64

In [15]:
train_data.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0         0       3    1   22      1      0   7.2500         2
1         1       1    0   38      1      0  71.2833         0
2         1       3    0   26      0      0   7.9250         2
3         1       1    0   35      1      0  53.1000         2
4         0       3    1   35      0      0   8.0500         2

In [16]:
test_data.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0          892       3    1   22      0      0   7.8292         1
1          893       3    0   38      1      0   7.0000         2
2          894       2    1   26      0      0   9.6875         1
3          895       3    1   35      0      0   8.6625         2
4          896       3    0   35      1      1  12.2875         2

In [20]:
xtrain=train_data.drop("Survived",axis=1)   #except survived
ytrain=train_data["Survived"]  #survived
xtest=test_data.drop("PassengerId",axis=1).copy()  #  except passenger id in test set

In [21]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [26]:
from xgboost import XGBClassifier
cl=XGBClassifier()
cl.fit(xtrain,ytrain)
ypred=cl.predict(xtest)

In [27]:
from sklearn.metrics import accuracy_score
cl.score(xtrain,ytrain)
cl=round(cl.score(xtrain,ytrain)*100,2)
print(cl)

96.07

In [29]:
submission=pd.DataFrame({
    "PassengerId":test_data["PassengerId"],
    "Survived":ypred
})

submission.to_csv('submission.csv',index=False)